* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #121214;
	--secondary-color: white;
	--section-p: #A1A1AA;
	--cards-div: #2A2634;
	--gradient-border: #9572FC;
}

ul {
	list-style: none;
}

body {
	background-image:url(../assets/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top center;
	background-color: var(--primary-color);
}

body * {
	font-family: 'Inter', sans-serif;
	line-height: 160%;
}

header {
	text-align: center;
	margin-top: 32px;
	height: calc(120px + 32px);
}

header div {
	width: 120px;
	margin: auto;
	background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
	
	border-radius: 50%;

	display: flex;
	padding: 4px;

	transition: transform 0.2s;
	animation: fromTop .3s 2s backwards;

}

header div:hover {
	transform: scale(1.2);
}

header img {
	width: 100%;
	border-radius: 50%;
}

main {
	max-width: 580px;
	width: 90%;
	margin: 32px auto;

	display: grid;
	grid-gap: 24px;
}

section {
	color: var(--secondary-color);
	background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
	padding-top: 4px;
	border-radius: 10px 
}

section div {
	background-color: var(--cards-div);
	padding: 32px;
	padding-top: 24px;
	border-radius: 8px; 
}

section h2 {
	letter-spacing: -0.47px;
}

section p {
	color: var(--section-p);
	letter-spacing: -0.18px;
}

section ul {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;

	margin-top: 24px;
}

section ul li {
	transition: transform 0.2s;
}

section ul li:hover {
	transform: scale(1.2);
}

.games-list img {
	width: 90px;
	border-radius: 8px;
}

.channel-list img {
	border-radius: 50%;
	width: 70px;
}

/* animation*/

@keyframes fromTop {
	from{
		opacity: 0;
		transform: translateY(-30px);
	}

	to{
		opacity: 1;
		transform: translateY(0);
	}
}

main section {
	animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
	animation-delay: 0 ;
}

main section:nth-child(2) {
	animation-delay: .4s; 
}

main section:nth-child(3) {
	animation-delay: .8s; 
}

@keyframes fromBottom {
	from{
		opacity: 0;
		transform: translateY(30px);
	}

	to{
		opacity: 1;
		transform: translateY(0);
	}
}